@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@200&family=Staatliches&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    background-color: #120312;
}