@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@200&family=Staatliches&display=swap');

/* margin right cambia el borde derecho del carrousel, pero no se como hacer para que desaparezca la flecha */
.carrousel {
    padding-left: 60px;
    margin-right: 30px;
}


/* .slick-prev {
    left: 0% !important;
    z-index: 1;
}

.slick-next {
    right: 0% !important;
    z-index: 1;
} */