.tv_slide {
  margin: 30px 30px 0px 80px;
}

.title_tvshow {
  font-family: 'Public Sans', sans-serif;
  font-size: 16px;
  margin-bottom: 15px;
}

.item_slidetv {
  transition: all 0.3s;
}

.item_slidetv:hover {
  transform: scale(1.05);
  transition: all 0.3s;
}